Repository pixelass/react-js-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

deploy: 37703a689f3f032b9534bfdf77228edec13cb78b
  .nojekyll
Due: none

chore: fix storybook ghpages
  .github/workflows/Deploy_Storybook.yml
Due: none

deploy: e79debdc891925d0d8851ca8428affefe4dd8860
  132.9cbcfaa2.iframe.bundle.js
  208.1a1d86c0ae79c9dc1e33.manager.bundle.js
  208.1a1d86c0ae79c9dc1e33.manager.bundle.js.LICENSE.txt
  256.234f38e8.iframe.bundle.js
  256.2bdb24b5e940eb018e5b.manager.bundle.js
  295.e769523d0b42eee591cb.manager.bundle.js
  468.3adf399a.iframe.bundle.js
  468.3adf399a.iframe.bundle.js.LICENSE.txt
  515.471be717e59dbdeb623e.manager.bundle.js
  515.471be717e59dbdeb623e.manager.bundle.js.LICENSE.txt
  528.372130c623a5f18f69f1.manager.bundle.js
  528.372130c623a5f18f69f1.manager.bundle.js.LICENSE.txt
  528.9a59f369.iframe.bundle.js
  528.9a59f369.iframe.bundle.js.LICENSE.txt
  551.8da9a960.iframe.bundle.js
  551.d87efb6f0e3a8ac4cf6e.manager.bundle.js
  675.f57fe8dc6f28f38d23f8.manager.bundle.js
  675.f57fe8dc6f28f38d23f8.manager.bundle.js.LICENSE.txt
  675.fa8a3cef.iframe.bundle.js
  675.fa8a3cef.iframe.bundle.js.LICENSE.txt
  701.30f5c8b3.iframe.bundle.js
  745.f3d2563a.iframe.bundle.js
  863.04cf29de.iframe.bundle.js
  863.04cf29de.iframe.bundle.js.LICENSE.txt
  974.22124b2ccb80143f01a8.manager.bundle.js
  974.3d62c727.iframe.bundle.js
  974.3d62c727.iframe.bundle.js.LICENSE.txt
  favicon.ico
  iframe.html
  index.html
  main.9b02dc0cdd1cb04024c1.manager.bundle.js
  main.af877938.iframe.bundle.js
  main.af877938.iframe.bundle.js.map
  project.json
  runtime~main.02c02805.iframe.bundle.js
  runtime~main.4765bcadfd0c2d35d9be.manager.bundle.js
Due: eslint --fix, prettier --write

chore: better issue template
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: prettier --write

deploy: eef0e5b4de0ffe8adfd477c2c9c945fef0f91e3d
  project.json
Due: prettier --write

chore: adjust issue template
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: prettier --write

deploy: f10c6cc9a06430920f4ccf3788066588a1059f74
  project.json
Due: prettier --write

docs: remove duplicate in file-names
  docs/FILE_NAMES.md
Due: prettier --write

deploy: 99606877245e7c89119599d9d1659594c23066c2
  project.json
Due: prettier --write

docs: describe project setup
  README.md
  docs/resources/github-secrets-surge.png
Due: prettier --write

deploy: 68ff47f6faf280354d64bcfb414927073bb87924
  project.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: ./*.json)) or (any of: *.md)
